.side {
    width: 100px;
    height: 88.8vh; /* Full height */
    background-color: #1E1E1E; /* Light grey background */
    padding: 20px; /* Padding inside the sidebar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    position: fixed; /* Fixed position */
    left: 0; /* Align to the left */

    bottom: 0;
  }
  
  .option {
    margin-bottom: 20px; /* Space between options */
    font-size: 18px; /* Increase font size */
    color: #333; /* Dark grey text */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .option:hover {
    color: #007bff; /* Change text color on hover */
  }

  .last{
    margin-top:auto;
  }

  .link{
    text-decoration: none;
    color: white;
  }

  .link:hover {
    color: inherit; /* Prevent color change on hover */
    background-color: transparent; /* Prevent background color change on hover */
    text-decoration: none; /* Ensure no underline on hover */
  }