.box{   
    padding: 60px 30px 60px 30px;
    
     background-color: rgb(35, 33, 33);
 }
 
 .fill{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     
     
 }
 
 h1{
     text-align: center;
     font-size: 40px;
     color: white;
     margin: auto;
     padding-bottom: 20px;
 
 }
 
 .l-line{
     display: flex;
     flex-direction: row;
     padding-bottom: 20px;
     /* border: 1px solid; */
     width: 450px;
     
 
 }
 
 .l-que{
     margin-top: 25px;
     margin-left: 70px;
     
 }
 
 .l-ans{
     border: 0.5px solid;
     margin-left: auto;
     margin-right: 70px;
     margin-top: 25px;
 } 
 
 .press{
     margin-top: 20px;
     background-color: #E50914 ;
 }
 