.movie-line-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

.filter-line{
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}

.genre-title{
    font-weight: bold;
    font-size: 25px;
}

.netflix-button {
    background-color: #e50914 !important; /* Netflix red with high specificity */
  color: white !important; /* White text with high specificity */
  font-size: 1rem; /* Button text size */
  font-weight: bold; /* Bold text */
  text-transform: uppercase; /* Uppercase text */
  padding: 0.75rem 1.5rem; /* Padding for the button */
  border: none; /* No border */
  border-radius: 0.25rem; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease, transform 0.3s ease; /
  }
  
  .netflix-button:hover {
    background-color: #f40612; /* Slightly brighter red on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  
  .netflix-button:active {
    background-color: #e50914; /* Return to original red when clicked */
    transform: scale(1); /* Return to original size when clicked */
  }
  